extends layout.pug

block content
  .container
    if flash
      div(class=`alert alert-${flash.type}`, role="alert")
        div #{flash.message}
    if renderIdea
      div(class="card card-body")
        h1 #{idea.title}
        p #{idea.details}
        div
          a(href=`/idea/delete/${idea._id}`, class="btn btn-danger mr-2") Delete
          a(href=`/idea/update/${idea._id}`, class="btn btn-dark" ) Update

      
    div(class="mt-2")
      a(href="/ideas/add", class="btn btn-primary", style="width : 200px;") Add Another Idea
    div(class="mt-2")
      a(href="/ideas", class="btn btn-primary", style="width : 200px;") See All Ideas